.user-list{
    max-width:700px;
    margin:20px auto 0;
    padding: 0 20px;
}

.user-list article{
    background: #FFF;
    border: 1px solid rgb(49, 4, 199);
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.user-list a{
    font-size:16px;
    color: rgb(37, 9, 249);
    margin-top: 5px;
    line-height:24px;
}

.user-list article a{
    height: 42px;
    border-radius: 5px;
    border: 2px solid rgb(66,31,221);
    background: none;
    margin-top: 10px;
    color: rgb(66, 31, 221);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-list article a:hover{
    background: rgb(66,31,221);
    color: #FFF;
}

.user-list .actions{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.user-list .actions button{
    padding: 10px;
    border-radius: 5px;
    border: 0;
    background: rgb(66,31,221);
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}
.user-list .actions button:hover{
    opacity: 0.7;
}
.user-list .actions button[disabled]{
    opacity:0.5;
    cursor: default;
}
